In [1]:
import pandas as pd
import numpy as np
import nltk
import random
import string
import re

In [42]:
#Canada
ca = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/CA_domestic_Ngram_stopword_lematize.csv')

In [3]:
print(len(ca))
ca.head()

73870

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,0,51292143,"Edibles, extracts and topicals will be offered...",prpeak.com,2019,The province is now distributing new categori...,"[('Canada', 1), ('United States', 1), ('Canada...",True,The province is now distributing new categori...,The province distributing new categories legal...,The province distribute new category legal non...
1,1,51037626,Intelligence official charged seemed to be 'ex...,prpeak.com,2019,"Ortis , 47 , was charged under three sections...","[('United States', 1), ('Canada', 1), ('France...",True,"Ortis , 47 , was charged under three sections...","Ortis , 47 , charged three sections Security I...",Ortis 47 charge three section Security Informa...
2,2,51008947,Georgia GOP Sen. Isakson to retire over health...,prpeak.com,2019,ATLANTA Republican Sen. Johnny Isakson's anno...,"[('Georgia', 15), ('United Kingdom', 1), ('Aus...",True,ATLANTA Republican Sen. Johnny Isakson's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...
3,4,51220423,Around Powell River: Community listings | Powe...,prpeak.com,2019,"Powell River Aikikai , self defence , the art...","[('Canada', 1), ('United States', 1), ('Canada...",True,"Powell River Aikikai , self defence , the art...","Powell River Aikikai , self defence , art peac...",Powell River Aikikai self defence art peace in...
4,5,51159318,President of Cannabis NB says it will take mor...,prpeak.com,2019,President of Cannabis NB says it will take mo...,"[('Canada', 1), ('Australia', 1), ('United Sta...",True,President of Cannabis NB says it will take mo...,President Cannabis NB says take time profitabl...,President Cannabis NB say take time profitable...

In [2]:
import spacy

In [3]:
nlp = spacy.load('en_core_web_sm')

In [44]:
text = ca['article_text_Ngram']
ca['text']=""
ca['text_2']=""

In [15]:
#new_text=" ".join(text_no_namedentities)
#new_text_ = remove_names(new_text)

In [18]:
#document = nlp(text_3)
#text_no_namedentities = []

#ents = [e.text for e in document.ents]
#for item in document:
 #   if item.text in ents:
  #      pass
   # else:
    #    text_no_namedentities.append(item.text)
#print(" ".join(text_no_namedentities))

In [4]:
def remove_names(text):
    doc = nlp(text)
    newString = text
    for e in reversed(doc.ents):
        if e.label_ == "PERSON": # Only if the entity is a PERSON
            newString = newString[:e.start_char] + newString[e.start_char + len(e.text):]
    return newString

In [25]:
#ca=ca[:10]

In [5]:

def remove_place(text):
    document=nlp(text)
    #newString = []
    text_no_namedentities=[]
    ents = [e.text for e in document.ents]
    for item in document:
        if item.text in ents:
            pass
        else:
            text_no_namedentities.append(item.text)
    return " ".join(text_no_namedentities)

In [17]:
#new_text_

"  Sen. 's announcement that he will retire at year 's end because of health problems instantly raised 's status as a must watch battleground by ensuring both of its seats will be on the ballot . 's pending departure after more than decades in politics gives a surprise opening in a state where the 's lock on statewide elections has shown signs of slipping . The state 's junior senator ,  , is already a top target as he seeks reelection for the time next year . , , said he is leaving the job he loves because mounting health issues , including 's disease , are taking their toll . He won a term in and would have faced reelection in . I have concluded that I will not be able to do the job over the long term in the manner the citizens of deserve , said in a statement . It goes against every fiber of my being to I know it 's the right thing to do on behalf of my state . The November ballot in will now include a special election for the remaining two of 's term in addition to 's race for another six year term . It 's a doubly tantalizing target for who increasingly believe that , which has become less rural and less white in recent decades , stands on the verge of becoming a swing state after roughly two decades of leaning solidly . is going to be a major decision maker in the reelection of  and control of the now , said  , a political adviser in who served as communications director under former . Nathan Deal . It 's an uphill battle for , who have n't elected a governor or senator since .  was the last presidential candidate to win here , in . But statewide races have become more competitive in recent elections in , compared with his double digit victory margins in other Deep South states . In last fall 's race for governor ,  beat  by just over 1 % of the vote . This is yet another seat will need to defend next year in an increasingly competitive battleground , said  , a spokesman for the Senatorial Campaign Committee . Kemp gets to appoint 's replacement , who will serve until the special election . plans to step down in . There will be no primary elections for seat , meaning the November contest will be open to qualified candidates from all political parties . That could significantly increase the likelihood of a runoff , required by law if no candidate receives over 50 % of votes . Former White House official  , who recently returned to , said in an email that he wo n't offer himself for the seat . strategists say other potential candidates include Reps .  and  and Attorney General  . This is a very short sprint to the election , said . You 're going to need somebody who 's a proven fundraiser , has a good built in network and already has some knowledge of the issues . That narrows the field somewhat . have already declared their candidacy for 's seat . , who had been wooed to run against , will not be a candidate for 's seat , a spokesman said on Twitter . She will instead continue to focus on voter access issues in and nationally . As chairman of the Veterans Affairs Committee , has worked to expand programs offering more private health care choices for veterans . He said he plans to return to when the resumes next month . But deteriorating health will keep him from staying long . was diagnosed with 's in . The chronic , progressive movement disorder often left him walking the 's corridors reelection in , underwent surgery the following year to address spinal deterioration . At times , he has been in a wheelchair . He 's been recovering from a July fall at his apartment that fractured ribs . And revealed that earlier this week he had surgery to remove a growth from one of his kidneys . Fellow senators from both parties saluted 's tenure . Sen.  ,  , called the gold standard for the . Sen.  of , the whip , said is one of our best . , who made millions of dollars in real estate , won election to the state legislature in . His as a lawmaker when still dominated politics shaped him into an affable consensus builder a style he clung to even as became bitterly partisan , said former Rep.  , a who worked with at both state and federal levels . There the other side to go to hell , said . always refrained from that . But he never was intimidated by those in power , whether it was Nancy Pelosi or  ."

In [45]:
ca['text']=text.apply(remove_place)
ca['text_2']=ca['text'].apply(remove_names)
ca = ca.drop(columns=['text'])

In [37]:
ca['text']

0      The province is now distributing new categor...
1      , , was charged under sections of the Securi...
2      Sen. 's announcement that he will retire at ...
3      Powell River , self defence , the art of pea...
4      President of Cannabis NB says it will take m...
5      Prime Minister Justin embraces Dominic as he...
6      warns of government impersonation scam . Cal...
7      say body of missing kayaker found near Powel...
8      Dale appointed chair of Canadian Football Le...
9      Ex medical officer loses fight to block rele...
Name: text, dtype: object

In [47]:
ca['text_2'][2]

"  Sen. 's announcement that he will retire at year 's end because of health problems instantly raised 's status as a must watch battleground by ensuring both of its seats will be on the ballot . 's pending departure after more than decades in politics gives a surprise opening in a state where the 's lock on statewide elections has shown signs of slipping . The state 's junior senator ,  , is already a top target as he seeks reelection for the time next year . , , said he is leaving the job he loves because mounting health issues , including 's disease , are taking their toll . He won a term in and would have faced reelection in . I have concluded that I will not be able to do the job over the long term in the manner the citizens of deserve , said in a statement . It goes against every fiber of my being to I know it 's the right thing to do on behalf of my state . The November ballot in will now include a special election for the remaining two of 's term in addition to 's race for another six year term . It 's a doubly tantalizing target for who increasingly believe that , which has become less rural and less white in recent decades , stands on the verge of becoming a swing state after roughly two decades of leaning solidly . is going to be a major decision maker in the reelection of  and control of the now , said  , a political adviser in who served as communications director under former . Nathan Deal . It 's an uphill battle for , who have n't elected a governor or senator since .  was the last presidential candidate to win here , in . But statewide races have become more competitive in recent elections in , compared with his double digit victory margins in other Deep South states . In last fall 's race for governor ,  beat  by just over 1 % of the vote . This is yet another seat will need to defend next year in an increasingly competitive battleground , said  , a spokesman for the Senatorial Campaign Committee . Kemp gets to appoint 's replacement , who will serve until the special election . plans to step down in . There will be no primary elections for seat , meaning the November contest will be open to qualified candidates from all political parties . That could significantly increase the likelihood of a runoff , required by law if no candidate receives over 50 % of votes . Former White House official  , who recently returned to , said in an email that he wo n't offer himself for the seat . strategists say other potential candidates include Reps .  and  and Attorney General  . This is a very short sprint to the election , said . You 're going to need somebody who 's a proven fundraiser , has a good built in network and already has some knowledge of the issues . That narrows the field somewhat . have already declared their candidacy for 's seat . , who had been wooed to run against , will not be a candidate for 's seat , a spokesman said on Twitter . She will instead continue to focus on voter access issues in and nationally . As chairman of the Veterans Affairs Committee , has worked to expand programs offering more private health care choices for veterans . He said he plans to return to when the resumes next month . But deteriorating health will keep him from staying long . was diagnosed with 's in . The chronic , progressive movement disorder often left him walking the 's corridors reelection in , underwent surgery the following year to address spinal deterioration . At times , he has been in a wheelchair . He 's been recovering from a July fall at his apartment that fractured ribs . And revealed that earlier this week he had surgery to remove a growth from one of his kidneys . Fellow senators from both parties saluted 's tenure . Sen.  ,  , called the gold standard for the . Sen.  of , the whip , said is one of our best . , who made millions of dollars in real estate , won election to the state legislature in . His as a lawmaker when still dominated politics shaped him into an affable consensus builder a style he clung to even as became bitterly partisan , said former Rep.  , a who worked with at both state and federal levels . There the other side to go to hell , said . always refrained from that . But he never was intimidated by those in power , whether it was Nancy Pelosi or  ."

In [55]:
#save no named entities  data to csv
ca.to_csv("CA2.csv")

In [6]:
import collections
def top_words(text):
    counts = collections.Counter(text.lower().split())
    return [elem for elem, _ in sorted(counts.most_common(),key=lambda x:(-x[1], x[0]))[:1000]]

In [7]:
def top_words_freq(text):
    counts = collections.Counter(text.lower().split())
    return [_ for elem, _ in sorted(counts.most_common(),key=lambda x:(-x[1], x[0]))[:1000]]

In [56]:
CA = pd.read_csv('CA2.csv')

In [57]:
CA.head()

,Unnamed: 0,Unnamed: 0.1,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize,text_2
0,0,0,51292143,"Edibles, extracts and topicals will be offered...",prpeak.com,2019,The province is now distributing new categori...,"[('Canada', 1), ('United States', 1), ('Canada...",True,The province is now distributing new categori...,The province distributing new categories legal...,The province distribute new category legal non...,The province is now distributing new categor...
1,1,1,51037626,Intelligence official charged seemed to be 'ex...,prpeak.com,2019,"Ortis , 47 , was charged under three sections...","[('United States', 1), ('Canada', 1), ('France...",True,"Ortis , 47 , was charged under three sections...","Ortis , 47 , charged three sections Security I...",Ortis 47 charge three section Security Informa...,", , was charged under sections of the Securi..."
2,2,2,51008947,Georgia GOP Sen. Isakson to retire over health...,prpeak.com,2019,ATLANTA Republican Sen. Johnny Isakson's anno...,"[('Georgia', 15), ('United Kingdom', 1), ('Aus...",True,ATLANTA Republican Sen. Johnny Isakson's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,ATLANTA Republican Sen. Johnny Isakson 's anno...,Sen. 's announcement that he will retire at ...
3,3,4,51220423,Around Powell River: Community listings | Powe...,prpeak.com,2019,"Powell River Aikikai , self defence , the art...","[('Canada', 1), ('United States', 1), ('Canada...",True,"Powell River Aikikai , self defence , the art...","Powell River Aikikai , self defence , art peac...",Powell River Aikikai self defence art peace in...,"Powell River , self defence , the art of pea..."
4,4,5,51159318,President of Cannabis NB says it will take mor...,prpeak.com,2019,President of Cannabis NB says it will take mo...,"[('Canada', 1), ('Australia', 1), ('United Sta...",True,President of Cannabis NB says it will take mo...,President Cannabis NB says take time profitabl...,President Cannabis NB say take time profitable...,President of Cannabis NB says it will take m...

In [59]:
CA_word = pd.DataFrame(columns=['word','frequency'])
Text = ' '.join(ca['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [100]:
CA_word['relative_freq']=""

In [81]:
CA_word['word'] = top_words(Text)
CA_word['frequency']=top_words_freq(Text)

In [101]:
total_num = CA_word['frequency'].sum()
CA_word['relative_freq']=CA_word['frequency']/total_num

In [102]:
CA_word.head()

  word  frequency  relative_freq
0  the    2913900       0.083373
1   to    1453643       0.041592
2  and    1388210       0.039720
3   of    1344326       0.038464
4    a    1199482       0.034320

In [103]:
CA_word.to_csv("CA_word.csv")

In [87]:
#US
us = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/US_domestic_Ngram_stopword_lematize.csv')
print(len(us))
us.head()

67406

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,1,2047596,Francis and the 'Culture of Encounter',National Catholic Reporter,2013,Francis and the' Culture of Encounter'. All p...,"[('Italy', 1), ('Brazil', 1), ('China', 1), ('...",True,Francis and the' Culture of Encounter'. All p...,Francis ' Culture Encounter ' . All popes tend...,Francis Culture Encounter All pope tend couple...
1,2,109921,Papabile of the Day: The Men Who Could Be Pope,National Catholic Reporter,2013,Papabile of the Day The Men Who Could Be Pope...,"[('United Kingdom', 1), ('United States', 1), ...",True,Papabile of the Day The Men Who Could Be Pope...,Papabile Day The Men Who Could Be Pope . John ...,Papabile Day The Men Who Could Be Pope John Al...
2,3,73202,We can become God's prophets through love,National Catholic Reporter,2013,We can become God's prophets through love. Th...,"[('United States', 1), ('Canada', 1), ('Hungar...",True,We can become God's prophets through love. Th...,We become God 's prophets love . The first les...,We become God 's prophet love The first lesson...
3,5,277348,The paradox of Pope Francis,National Catholic Reporter,2013,The Independent News Source. The paradox of P...,"[('Italy', 2), ('France', 1), ('Germany', 1), ...",True,The Independent News Source. The paradox of P...,The Independent News Source . The paradox Pope...,The Independent News Source The paradox Pope F...
4,6,177275,We must emulate the example of Jesus during Ho...,National Catholic Reporter,2013,We must emulate the example of Jesus during H...,"[('United Kingdom', 1), ('Israel', 1), ('Portu...",True,We must emulate the example of Jesus during H...,We must emulate example Jesus Holy Week underg...,We must emulate example Jesus Holy Week underg...

In [88]:

text = us['article_text_Ngram']
us['text']=""
us['text_2']=""

In [89]:
us['text']=text.apply(remove_place)
us['text_2']=us['text'].apply(remove_names)
us = us.drop(columns=['text'])

In [90]:
#save no named entities  data to csv
us.to_csv("US2.csv")

In [91]:
US_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(us['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [94]:
US_word['word'] = top_words(Text)
US_word['frequency']=top_words_freq(Text)

In [97]:
total_num = US_word['frequency'].sum()
US_word['relative_freq']=US_word['frequency']/total_num

In [98]:
US_word.head()

  word  frequency  relative_freq
0  the    2567497       0.083421
1   of    1263848       0.041064
2   to    1225145       0.039806
3  and    1183105       0.038441
4    a    1071531       0.034815

In [99]:
US_word.to_csv("US_word.csv")

In [8]:
#singapore
sg = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/SG_domestic_Ngram_stopword_lematize.csv')

In [9]:
print(len(sg))
sg.head()

20196

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,157,41297631,2019 | Business Insider Singapore | Page 3601,businessinsider.sg,2019,Netflix's dark comedy A Series of Unfortunate...,"[('Cuba', 7), ('Singapore', 2), ('Georgia', 1)...",True,Netflix's dark comedy A Series of Unfortunate...,Netflix 's dark comedy A Series Unfortunate Ev...,Netflix 's dark comedy A Series Unfortunate Ev...
1,160,41397200,Here's our honest review of Playmade's cocoa m...,businessinsider.sg,2019,Taiwanese bubble tea chain Playmade known for...,"[('Singapore', 2), ('Japan', 1), ('United Stat...",True,Taiwanese bubble tea chain Playmade known for...,Taiwanese bubble tea chain Playmade known maki...,Taiwanese bubble tea chain Playmade know make ...
2,175,41287072,2019 | Business Insider Singapore | Page 3495,businessinsider.sg,2019,"In mid July , Build A Bear debuted the Pay Yo...","[('Iceland', 9), ('Singapore', 5), ('Thailand'...",True,"In mid July , Build A Bear debuted the Pay Yo...","In mid July , Build A Bear debuted Pay Your Ag...",In mid July Build A Bear debut Pay Your Age de...
3,177,41514837,Suicide is the main cause of death for millenn...,businessinsider.sg,2019,Suicide is the main cause of death for millen...,"[('Singapore', 3), ('Singapore', 1)]",True,Suicide is the main cause of death for millen...,Suicide main cause death millennials Singapore...,Suicide main cause death millennials Singapore...
4,183,41384923,Bowflex now makes an adjustable kettlebell tha...,businessinsider.sg,2019,Bowflex now makes an adjustable kettlebell th...,[],True,Bowflex now makes an adjustable kettlebell th...,Bowflex makes adjustable kettlebell goes 8 40 ...,Bowflex make adjustable kettlebell go 8 40 pou...

In [10]:
text = sg['article_text_Ngram']
sg['text']=""
sg['text_2']=""

In [11]:
sg['text']=text.apply(remove_place)
sg['text_2']=sg['text'].apply(remove_names)
sg = sg.drop(columns=['text'])

In [12]:
#save no named entities  data to csv
sg.to_csv("SG2.csv")

In [13]:
SG_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(sg['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [14]:
SG_word['word'] = top_words(Text)
SG_word['frequency']=top_words_freq(Text)

In [15]:
total_num = SG_word['frequency'].sum()
SG_word['relative_freq']=SG_word['frequency']/total_num

In [16]:
SG_word.head()

  word  frequency  relative_freq
0  the     549367       0.086685
1   to     280574       0.044272
2  and     256712       0.040507
3   of     248001       0.039132
4    a     197995       0.031242

In [17]:
SG_word.to_csv("SG_word.csv")

In [18]:
#Philippines
ph = pd.read_csv('/Users/Rebecca/Desktop/PEACE/data/5_domestic_filter_Ngram_stopwords_lemmatize/PH_domestic_Ngram_stopword_lematize.csv')
print(len(ph))
ph.head()

61518

,Unnamed: 0,article_id,article_title,publisher,year,article_text,country_mention,Domestic,article_text_Ngram,article_text_Ngram_stopword,article_text_Ngram_stopword_lemmatize
0,0,2032298,"National Newsbits for December 13,2013",Manila Bulletin,2013,"National Newsbits for December 13,2013. Decem...","[('Philippines', 1), ('United States', 1), ('N...",True,"Natinal Newsbits fr December 13, December 12 ...","Natinal Newsbits fr December 13 , December 12 ...",Natinal Newsbits fr December 13 December 12 20...
1,1,2011163,$120-B export target pushed back,Manila Bulletin,2013,$120 B export target pushed back. The Departm...,"[('Japan', 1), ('Philippines', 1), ('United St...",True,$120 B exprt target pushed back. The Departme...,$ 120 B exprt target pushed back . The Departm...,120 B exprt target push back The Department f ...
2,2,2047361,Shell prepares to mark 100 years,Manila Bulletin,2013,Shell prepares to mark 100 years. December 19...,"[('Philippines', 3), ('Philippines', 1), ('Uni...",True,Shell prepares t mark 100 years. December 19 ...,"Shell prepares mark 100 years . December 19 , ...",Shell prepares mark 100 year December 19 These...
3,3,2060055,10 deaths in 4 road accidents,Manila Bulletin,2013,"10 deaths in 4 road accidents. Nasugbu , Bata...","[('Puerto Rico', 1), ('United Kingdom', 1), ('...",True,"10 deaths in 4 rad accidents. Nasugbu , Batan...","10 deaths 4 rad accidents . Nasugbu , Batangas...",10 death 4 rad accident Nasugbu Batangas Seven...
4,4,673597,JG Summit raises P8.8 billion from sale of new...,Manila Bulletin,2013,JG Summit raises P8.8 billion from sale of ne...,"[('Spain', 1), ('United States', 1), ('Peru', ...",True,JG Summit raises P8 billin frm sale f new sha...,JG Summit raises P8 billin frm sale f new shar...,JG Summit raise P8 billin frm sale f new share...

In [19]:
text = ph['article_text_Ngram']
ph['text']=""
ph['text_2']=""

In [20]:
ph['text']=text.apply(remove_place)
ph['text_2']=ph['text'].apply(remove_names)
ph = ph.drop(columns=['text'])

In [21]:
#save no named entities  data to csv
ph.to_csv("PH2.csv")

In [22]:
PH_word = pd.DataFrame(columns=['word','frequency','relative_freq'])
Text = ' '.join(ph['text_2'].tolist())
Text=re.sub(r'[^\w\s]', '', Text)

In [23]:
PH_word['word'] = top_words(Text)
PH_word['frequency']=top_words_freq(Text)

In [24]:
total_num = PH_word['frequency'].sum()
PH_word['relative_freq']=PH_word['frequency']/total_num

In [25]:
PH_word.head()

  word  frequency  relative_freq
0  the    2065762       0.103908
1    f     868395       0.043680
2    t     838124       0.042158
3  and     812350       0.040861
4   in     666728       0.033536

In [26]:
PH_word.to_csv("PH_word.csv")